In [2]:
# xlsx e visualizaÃ§Ã£o
tabela = pd.read_excel('SD2 ITENS DE VENDA DA NF.xlsx')
display (tabela)

,Filial,Item,Produto,Segunda UM,Unidade,Quantidade,Vlr.Unitario,Vlr.Total,Vlr.IPI,Vlr.ICMS,...,Rateio,Vlr.OP.Dif,Vlr FCP ST,Vlr FCP Prop,Aliq. FCP ST,Vlr.ICMS Dif,Aliq. FECP,Id. Tributos,Vlr FUNRURAL,Campo UUID
0,10101,1,1000001,NaN,UN,8.0,1.00,8.0,0.0,0.00,...,NaN,1.44,0,0,0,1.44,0,NaN,0,NaN
1,10101,1,1000001,NaN,UN,4.0,1.00,4.0,0.0,0.00,...,NaN,0.76,0,0,0,0.76,0,NaN,0,NaN
2,10101,1,1000001,NaN,UN,4.0,1.00,4.0,0.0,0.00,...,NaN,0.76,0,0,0,0.76,0,NaN,0,NaN
3,10101,1,1000001,NaN,UN,2.0,1.00,2.0,0.0,0.00,...,NaN,0.38,0,0,0,0.38,0,NaN,0,NaN
4,10101,1,1000001,NaN,UN,1.0,1.00,1.0,0.0,0.00,...,NaN,0.19,0,0,0,0.19,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21395,10101,20,8401000038,NaN,UN,1.0,46.90,46.9,0.0,8.91,...,NaN,0.00,0,0,0,0.00,0,NaN,0,CB9CF543-F819-4519-9958-16013ED2FF77
21396,10102,1,1201000009,NaN,KG,10.0,140050.00,1400500.0,0.0,0.00,...,NaN,0.00,0,0,0,0.00,0,NaN,0,A23C3CB6-2C8F-41EE-BDB8-00505685101E
21397,10102,1,2001000002,NaN,UN,200.0,0.54,108.0,0.0,0.00,...,NaN,0.00,0,0,0,0.00,0,NaN,0,A563A205-AE7F-4A00-82C3-E35F09A9CC20
21398,10102,2,2001000003,NaN,UN,200.0,0.50,100.0,0.0,0.00,...,NaN,0.00,0,0,0,0.00,0,NaN,0,AD4BBC69-BE7A-47B7-9E22-78708727D620
21399,10103,1,8703000005,NaN,UN,1.0,100.00,100.0,0.0,3.20,...,NaN,0.00,0,0,0,0.00,0,NaN,0,99F879DE-2C8F-41EE-BDB8-00505685101E

In [3]:
produto_ranking = tabela.groupby("Produto")["Quantidade"].sum()

In [4]:
produto_ranking = produto_ranking.sort_values(ascending=False)

In [5]:
print(produto_ranking)

Produto
4101000052    25513.00
8008000018    20280.00
8001000002    11208.00
8002000001    10134.00
8001000004     7541.42
                ...
7810000007        1.00
8703000005        1.00
401000003         0.50
401000005         0.50
401000026         0.50
Name: Quantidade  , Length: 1014, dtype: float64

In [9]:
tabela['ranking_qtde_produtos'] = tabela['Quantidade  '].rank(ascending=False, method='first', na_option='bottom')

In [10]:
print(tabela)

       Filial        Item          Produto      Segunda UM   Unidade       \
0             10101             1       1000001          NaN           UN
1             10101             1       1000001          NaN           UN
2             10101             1       1000001          NaN           UN
3             10101             1       1000001          NaN           UN
4             10101             1       1000001          NaN           UN
...             ...           ...           ...          ...          ...
21395         10101            20    8401000038          NaN           UN
21396         10102             1    1201000009          NaN           KG
21397         10102             1    2001000002          NaN           UN
21398         10102             2    2001000003          NaN           UN
21399         10103             1    8703000005          NaN           UN

       Quantidade    Vlr.Unitario  Vlr.Total     Vlr.IPI       Vlr.ICMS      \
0               8.0          1.00           8.0           0.0          0.00
1               4.0          1.00           4.0           0.0          0.00
2               4.0          1.00           4.0           0.0          0.00
3               2.0          1.00           2.0           0.0          0.00
4               1.0          1.00           1.0           0.0          0.00
...             ...           ...           ...           ...           ...
21395           1.0         46.90          46.9           0.0          8.91
21396          10.0     140050.00     1400500.0           0.0          0.00
21397         200.0          0.54         108.0           0.0          0.00
21398         200.0          0.50         100.0           0.0          0.00
21399           1.0        100.00         100.0           0.0          3.20

       ...  Vlr.OP.Dif    Vlr FCP ST    Vlr FCP Prop  Aliq. FCP ST  \
0      ...          1.44             0             0             0
1      ...          0.76             0             0             0
2      ...          0.76             0             0             0
3      ...          0.38             0             0             0
4      ...          0.19             0             0             0
...    ...           ...           ...           ...           ...
21395  ...          0.00             0             0             0
21396  ...          0.00             0             0             0
21397  ...          0.00             0             0             0
21398  ...          0.00             0             0             0
21399  ...          0.00             0             0             0

       Vlr.ICMS Dif  Aliq. FECP    Id. Tributos  Vlr FUNRURAL  \
0              1.44             0           NaN             0
1              0.76             0           NaN             0
2              0.76             0           NaN             0
3              0.38             0           NaN             0
4              0.19             0           NaN             0
...             ...           ...           ...           ...
21395          0.00             0           NaN             0
21396          0.00             0           NaN             0
21397          0.00             0           NaN             0
21398          0.00             0           NaN             0
21399          0.00             0           NaN             0

                               Campo UUID    ranking_produtos
0                                       NaN            5291.0
1                                       NaN            8077.0
2                                       NaN            8078.0
3                                       NaN           11668.0
4                                       NaN           15525.0
...                                     ...               ...
21395  CB9CF543-F819-4519-9958-16013ED2FF77           21160.0
21396  A23C3CB6-2C8F-41EE-BDB8-00505685101E            5165.0
21397  A563A205-AE7F-4A00-82C3-E35F09A9CC20             141.0
21398  AD4BBC69-BE7A-47B7-9E22-78708727D620             142.0
21399  99F879DE-2C8F-41EE-BDB8-00505685101E           21161.0

[21400 rows x 304 columns]

In [12]:
tabela.to_excel("tabela.xlsx")